<div class="flex h-5/6 ">
  <div class="flex-1 dark:text-white text-center">
    <h2 class="text-4xl font-extrabold ">{{problem.fullName}}</h2>
    <p>Memory limit: {{problem.memoryLimit}} kb</p>
    <p>Time limit: {{problem.timeLimit}} ms</p>
    <div class="text-left">{{problem.content}}</div>
  </div>
  <div class="flex-1">
    <editor (valueChange)="editorValueChange($event)"></editor>
    <app-button [disabled]="codeCheck.resultStatusClass !== 'hide'" (onClick)="sendToCheck()">{{this.codeCheck.buttonCheckText}}</app-button>
    <app-button [disabled]="codeCheck.resultStatusClass !== 'hide'" (onClick)="pretestsCheck()">{{this.codeCheck.buttonPretest}}</app-button>
    <app-button [disabled]="codeCheck.resultStatusClass !== 'hide'" (onClick)="submit()">{{this.codeCheck.buttonSubmit}}</app-button>
    <app-alert *ngIf="codeCheck.resultStatusClass !== 'hide'" [status]="codeCheck.resultStatusClass">
      {{codeCheck.resultText}}
    </app-alert>
  </div>
</div>
