<div class="het-modal">
    <div
         cdkDrag
         cdkDragRootElement=".cdk-overlay-pane"
         cdkDragHandle class="flex items-start justify-between border-b rounded-t dark:border-gray-600 het-modal-header">
        <h3  class="text-xl font-semibold text-gray-900 dark:text-white">
            {{title}}
        </h3>
        <button mat-dialog-close type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="defaultModal">
            <span class="sr-only">Close modal</span>
        </button>
    </div>
    <mat-dialog-content class="mat-typography het-modal-content px-7">
        <ng-template appHost ></ng-template>
    </mat-dialog-content>
    <div>
        <app-button (onClick)="save()">Save</app-button>
    </div>
</div>
